body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.control-group {
    padding-top: 50px;
}

label {
    width: 100px;
}

#signalr-message-panel {
    height: calc(100vh - 200px);
}
